<div>
  <h1 mat-dialog-title>Assign Users</h1>

  <p>Select users to assign learning.</p>

  <mat-form-field class="w-100">
    <mat-label>Users</mat-label>
    <mat-select [(ngModel)]="userIds" multiple>
      <mat-option *ngFor="let user of users" [value]="user.id">{{user.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div mat-dialog-actions [align]="'end'">
    <button mat-stroked-button (click)="handleClose()" type="button">Cancel</button>
    <button mat-flat-button color="primary" (click)="assignUsers()">Save</button>
  </div>
</div>
